[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/j-ace-svg/nvim
[submodule "nix"]
	path = nix
	url = git@github.com:j-ace-svg/nix.git
[submodule "tmux/.config/tmux"]
	path = tmux/.config/tmux
	url = git@github.com:j-ace-svg/tmux.git
[submodule "qutebrowser/.config/qutebrowser"]
	path = qutebrowser/.config/qutebrowser
	url = git@github.com:j-ace-svg/qutebrowser.git
[submodule "newsboat/.config/newsboat"]
	path = newsboat/.config/newsboat
	url = git@github.com:j-ace-svg/newsboat.git
[submodule "vifm/.config/vifm"]
	path = vifm/.config/vifm
	url = git@github.com:j-ace-svg/vifm.git
